@import './_var';
@import './keyboard.scss';
@import './input.scss';

// BASE
html {
    body {
        background-color: $h1;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $h2;
    }
} 

.primary-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}