.text-input {
    background: none;
    border: none;
    outline: none;
    border-bottom: 3px solid #fff;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.8);
}